/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #f5f7fa;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

/* Judul */
header h1 {
    margin-bottom: 10px;
}

/* Navbar */
nav {
    margin-top: 10px;
}

/* Link navbar */
nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 8px 12px;
    transition: 0.3s;
    border-radius: 5px;
}

/* Hover navbar */
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Isi dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    top: 35px;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
}

/* Link dalam dropdown */
.dropdown-content a {
    color: #333;
    display: block;
    padding: 10px;
    text-align: left;
}

/* Hover dropdown */
.dropdown-content a:hover {
    background-color: #eee;
}

/* Tampilkan dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 30px;
}

/* Gambar */
.hero img {
    width: 80%;
    max-width: 500px;
    margin: 15px 0;
    border-radius: 10px;
}

img {
  width: 300px;
  height: auto;
  margin-left:10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}